PORT=8080
FLASK_ENV=
JWT_SECRET_KEY=SSGYHhc9qzHk3VU344Gs24Fz
DATABASE_URL=mysql://root@127.0.0.1:3306/gotit
FACEBOOK_APP_ID=450544462369632
FACEBOOK_APP_SECRET=d27f2a51164d42612097225b6cb0abc9
FACEBOOK_APP_REDIRECT=http://localhost:8080/api/facebook/authorized

GOOGLE_CLIENT_ID=101453815139-kjsqkjjapdadtnuipsdbe0ebju7echje.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=zvrCs5bMLkMb2lxxImDzT_WL
GOOGLE_CLIENT_REDIRECT=http://localhost:8080/api/google/authorized
